extends layout/layout.pug

block content
    div.row
        div.col
            p
                | A3 quick and dirty site showing how you can use Express, Pug and Bootstrap to write flat site content.